<div>
  <!-- <app-home></app-home> -->
  <router-outlet></router-outlet>
  <!-- <app-create-account></app-create-account> -->
  <!-- <app-login-account></app-login-account> -->
  <!-- <app-address></app-address> -->
  <!-- <app-payment></app-payment> -->
  <!-- <app-category></app-category> -->
  <!-- <app-choose-category></app-choose-category> -->
  <!-- <app-gallary></app-gallary> -->
  <!-- <app-final></app-final> -->
  <!-- <app-s9></app-s9> -->
  <!-- <app-messages></app-messages> -->
</div>
