<div class="root">
  <div class="left">
    <div class="l-nav">
      <span><img style="width: 30px;" src="../../assets/icons/profile.png" alt="" /></span>
      <span style="font-size: 25px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Name </span>
      <span><img style="width: 20px;" src="../../assets/icons/pencil.png" alt="" /></span>
    </div>
    <hr />
    <input type="text" placeholder="Search Retailers" />
  </div>
  <div class="right">
  </div>
</div>
