<div class="root">
  <div class="nav">
    <div class="profile">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        fill="currentColor"
        class="bi bi-person-circle"
        viewBox="0 0 16 16"
      >
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path
          fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
        />
      </svg>
      <span style="padding-left: 0.5rem">Profile</span>
    </div>
    <div class="heading">
      <span class="circle"> </span>
      <span class="heart"> &#10084; </span>
      <span style="margin-top: -1rem">
        &#8475;&#394;&#8496;&#8475;{{ " " }}&#8370;&#8475;&#570;&#8499;
      </span>
    </div>
    <div class="i_p">
      <span class="bi">
        <img src="../../assets/icons/loupe.png" alt="" />
      </span>
      <span class="bi">
        <img src="../../assets/icons/love.png" alt="" />
      </span>
      <span class="bi">
        <img src="../../assets/icons/shopping-cart.png" alt="" />
      </span>
      <span class="bi">
        <img src="../../assets/icons/gear.png" alt="" />
      </span>
    </div>
  </div>
  <span class="select">Select a payment method :</span>
  <div style="display: flex; flex-direction: row; height: 60%">
    <div style="width: 50%; margin-left: 3rem; margin-top: 1.7rem">
      <div class="option">
        <div class="method">
          <div style="display: flex; align-items: center">
            <img
              style="width: 5rem"
              src="../../assets/final/arrow.png"
              alt=""
            />
            <span style="margin-left: 0.7rem">Debit/Credit Cards</span>
          </div>
          <img class="i" src="../../assets/final/card.png" alt="" />
        </div>
        <div class="method">
          <div style="display: flex; align-items: center">
            <img
              style="width: 5rem"
              src="../../assets/final/arrow.png"
              alt=""
            />
            <span style="margin-left: 0.7rem">UPI Payments</span>
          </div>
          <img class="i" src="../../assets/final/paytm.png" alt="" />
        </div>
        <div class="method">
          <div style="display: flex; align-items: center">
            <img
              style="width: 5rem"
              src="../../assets/final/arrow.png"
              alt=""
            />
            <span style="margin-left: 0.7rem">EMI</span>
          </div>
          <img class="i" src="../../assets/final/EMI.png" alt="" />
        </div>
        <div class="method">
          <div style="display: flex; align-items: center">
            <img
              style="width: 5rem"
              src="../../assets/final/arrow.png"
              alt=""
            />
            <span style="margin-left: 0.7rem">COD</span>
          </div>
          <img class="i" src="../../assets/final/COD.png" alt="" />
        </div>
        <div class="method">
          <div style="display: flex; align-items: center">
            <img
              style="width: 5rem"
              src="../../assets/final/arrow.png"
              alt=""
            />
            <span style="margin-left: 0.7rem">Net Banking</span>
          </div>
          <img class="i" src="../../assets/final/banking.png" alt="" />
        </div>
      </div>
    </div>
    <div style="width: 50%; height: 80%">
      <div>
        <img
          style="width: 60%; height: 23rem"
          src="../../assets/final/Picture.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div
    style="
      display: flex;
      flex-direction: row;
      height: 13%;
      align-items: center;
      justify-content: center;
    "
  >
    <button>FINISH</button>
  </div>
</div>
