<div class="root">
  <div class="heading">
    <span class="circle"></span>
    <span class="heart"> &#10084; </span>
    <span style="margin-top: -1rem">
      &#8475;&#394;&#8496;&#8475;{{ " " }}&#8370;&#8475;&#570;&#8499;
    </span>
  </div>
  <div class="w">Style is a way to say who you are without having to speak</div>
  <div class="w">
    <button class="sign in" type="submit" routerLink="/create">SIGN UP</button>
  </div>
  <div>
    <button class="sign up" routerLink="/login">SIGN IN</button>
  </div>
</div>
